# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# dependencies
/node_modules
/.pnp
.pnp.js
whal3s-whal3s.js-0.0.1.tgz
api.test.ts
# testing
/coverage
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
